@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Site Defaults */
* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* Snippets */
.title {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 48px;
    text-align: center;
    -webkit-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    -moz-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    -ms-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    -o-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
}

.container {
    overflow: hidden;
    display: block;
    position: relative;
    min-height: 400px;
    width: 100%;
    text-align: center;
}

.even {
    background-color: #adacb5;
}

.odd {
    background-color: #d8d5db;
}

/* Navigation Bar */
#navbar {
    overflow: hidden;
    background-color: #0097ff;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px #505050;
}

#navbar img {
    position: absolute;
    margin: 0;
    padding-left: 10px;
    height: 70%;
    width: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -mos-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navbar div {
    position: relative;
    margin: 0;
    padding-right: 50px;
    height: inherit;
    width: 500px;
    float: right;
}

#navbar a {
    display:inline-block;
    height: 60px;
    width: 150px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #0078cc;
}

/* Carousel */
#carousel {
    margin-top: 60px !important;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#siema-carousel {
    display: block;
    position: relative;
    border-radius: 5px;
    height: 450px;
    width: 80%;
    margin: 75px auto;
    box-shadow: 0px 0px 10px #000;
}

#radio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    position: absolute;
    height: 5%;
    width: 10%;
    left: 45%;
    z-index: 10;
    bottom: 0;
    margin-bottom: 75px;
    padding: 10px 0;
    opacity: 0.2;
    transition: 0.5s ease;
}

#radio-container:hover {
    opacity: 1;
}

.selector {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
}

input[type="radio"] {
    display: none;
}

.selector input[type="radio"] + label span {
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px #000;
    -mos-box-shadow: 0px 0px 5px #000;
    -ms-box-shadow: 0px 0px 5px #000;
    -o-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}

.selector input[type="radio"] + label span span {
    opacity: 0.9;
    border: 0;
    transform: scale(0, 0);
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    background-color: #fff;
    -webkit-transition: 0.9s ease-in;
    -mos-transition: 0.9s ease-in;
    -ms-transition: 0.9s ease-in;
    -o-transition: 0.9s ease-in;
    transition: 0.9s ease-in;
    
}
.selector input[type="radio"]:checked + label span span {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -mos-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: 0.5s ease-in;
    -mos-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.image {
    display: block;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.arrow::-webkit-selection {
    background-color: rgba(0, 0, 0, 0);
}

.arrow::-moz-selection {
    background-color: rgba(0, 0, 0, 0);
}

.arrow::-ms-selection {
    background-color: rgba(0, 0, 0, 0);
}

.arrow::-o-selection {
    background-color: rgba(0, 0, 0, 0);
}

.arrow::selection {
    background-color: rgba(0, 0, 0, 0);
}

.arrow {
    display: block;
    position: absolute;
    height: 65px;
    width: 45px;
    z-index: 10;
    line-height: 40px;
    font-size: 6em;
    top: 45%;
    transition: 0.5s ease;
    color: rgba(255, 255, 255, 0.1);
}

.arrow:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 1);
    -webkit-text-shadow: 0px 0px 10px #000;
    -mos-text-shadow: 0px 0px 10px #000;
    -ms-text-shadow: 0px 0px 10px #000;
    -o-text-shadow: 0px 0px 10px #000;
    text-shadow: 0px 0px 10px #000;
}

#left-arrow {
    left: 0;
    margin-left: 10%;
}

#right-arrow {
    right: 0;
    margin-right: 10%;
}

/* Services */
#services hr {
    border: none;
    display: inline-block;
    margin: 0 auto;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    min-height: 250px;
    width: 1px;
}

.sub-list {
    display: inline-block;
    margin: 0 auto 50px;
    min-height: 150px;
    width: 24%;
}

.sub-list h4 {
    font-size: 32px;
    height: 75px;
    line-height: 75px;
    -webkit-text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
    -moz-text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
    -ms-text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
    -o-text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
    text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
}

.sub-list ul {
    list-style: none;
}

.sub-list li {
    margin: 5px 0;
    font-size: 26px;
}

/* Gallery */
#gallery div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 90%;
    overflow: hidden;
}

#gallery img {
    border: 3px solid #fff;
    display: inline-block;
    position: relative;
    min-height: 100px;
    min-width: 100px;
    margin: 15px 10px;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
    -webkit-box-shadow: 0px 0px 5px rgb(78, 78, 78);
    -mos-box-shadow: 0px 0px 5px rgb(78, 78, 78);
    -ms-box-shadow: 0px 0px 5px rgb(78, 78, 78);
    -o-box-shadow: 0px 0px 5px rgb(78, 78, 78);
    box-shadow: 0px 0px 5px rgb(78, 78, 78);
}

#gallery img:hover {
    opacity: 0.6;
    cursor: pointer;
    box-shadow: 0px 0px 15px #000;
}

#modal {
    display: none;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}

#modal-content {
    opacity: 1;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    max-width: 80%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#close {
    position: absolute;
    overflow: hidden;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#close:hover,
#close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Contact */
#contact p {
    display: block;
    width: 60%;
    margin: 25px auto;
    font-size: 20px;
}

/* Ipad sized resolutions */
@media only screen
    and (max-width: 800px) {
    /* Navigation Bar */

    /* Carousel */

    /* Services */

    /* Gallery */

    /* Contact */

    /* Footer */
}

/* Mobile sized resolutions */
@media only screen
    and (max-width: 667px) {
    /* Navigation Bar */

    /* Carousel */

    /* Services */

    /* Gallery */

    /* Contact */

    /* Footer */
}
