@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Site Defaults */
* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* Snippets */
.title {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 48px;
    text-align: center;
    -webkit-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    -moz-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    -ms-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    -o-text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
}

.container {
    overflow: hidden;
    display: block;
    min-height: 400px;
    width: 100%;
    text-align: center;
}

.even {
    background-color: #adacb5;
}

.odd {
    background-color: #d8d5db;
}

/* Navigation Bar */
#nav-wrapper {
    overflow: hidden;
    background-color: #0097ff;
    position: fixed;
    top: 0;
    height: 70px;
    min-height: 25px;
    width: 100%;
    z-index: 1000;
}

#navbar {
    overflow: hidden;
    background-color: #0097ff;
    position: fixed;
    top: 0;
    height: 70px;
    min-height: 25px;
    width: 100%;
    z-index: 1000;
}

#navbar img {
    position: absolute;
    margin: 0;
    padding-left: 10px;
    height: 70%;
    width: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -mos-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navbar div {
    position: relative;
    margin: 0;
    padding-right: 50px;
    height: inherit;
    width: 500px;
    float: right;
}

#navbar a {
    display:inline-block;
    height: 70px;
    width: 150px;
    margin: auto;
    text-align: center;
    line-height: 70px;
    font-size: 28px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #0078cc;
}

/* Carousel */
#carousel {
    margin-top: 70px;
}

/* Services */
#services hr {
    border: none;
    display: inline-block;
    margin: 0 auto;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    min-height: 250px;
    width: 1px;
}

.sub-list {
    display: inline-block;
    margin: 0 auto 50px;
    min-height: 150px;
    width: 24%;
}

.sub-list h4 {
    font-size: 32px;
    height: 75px;
    line-height: 75px;
    -webkit-text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
    -moz-text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
    -ms-text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
    -o-text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
    text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
}

.sub-list ul {
    list-style: none;
}

.sub-list li {
    margin: 5px 0;
    font-size: 26px;
}

/* Gallery */
#gallery .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 500px;
    margin-bottom: 75px;
}

#gallery .column {
    display: inline-block;
    margin: 0 auto 50px;
    max-width: 24%;
    padding: 0 4px;
    overflow: hidden;
}

.column img {
    margin-top: 25px;
    max-width: 99%;
    vertical-align: center;
    border: 3px solid #fff;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.column img:hover {
    opacity: 0.6;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}

#modal-content {
    opacity: 1;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    max-width: 80%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#close {
    position: absolute;
    overflow: hidden;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#close:hover,
#close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Contact */
#contact p {
    display: block;
    width: 60%;
    margin: 25px auto;
    font-size: 20px;
}

/* Footer */
#footer {
    display:block;
    overflow: hidden;
    background-color: #0097ff;
    height: 70px;
    min-height: 25px;
    width: 100%;
}

/* Ipad sized resolutions */
@media only screen
    and (max-width: 800px),
    and (max-device-width: 800px) {
    /* Navigation Bar */

    /* Carousel */

    /* Services */

    /* Gallery */

    /* Contact */

    /* Footer */
}

/* Mobile sized resolutions */
@media only screen
    and (max-width: 667px),
    and (max-device-width; 667px) {
    /* Navigation Bar */

    /* Carousel */

    /* Services */

    /* Gallery */

    /* Contact */

    /* Footer */
}
